* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.game-board-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.game-board {
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(3, 1fr);
}
.cell {
  border: 1px solid black;
  width: 100px;
  height: 100px;
  cursor: pointer;
}

.cell:hover {
  transform: scale(1.1);
}
